<script>
	var options = {
		// The id of the template.
		id: 'choice',
		// The title of the pair window
		title: 'generator.pair.choice.title.default',
		// The body text
		body: 'generator.pair.choice.body.default',
		// The width of the svg
		svgWidth: '80vw',
		// The height of the svg
		svgHeight: '70vh',
		// The choices that are displayed. This array must contain 1 or more Objects with the properties name, view and svg.
		choices: [
			{
				// The label of the button under this choice
				name: 'generator.pair.choice.buttons.copy.default',
				// The view id that should be loaded when the button is clicked
				view: 'myNextView',
				// The svg that is placed above the button
				svg: '../../../assets/RFDriver/svg/default.svg',
			},
			{
				// The label of the button under this choice
				name: 'generator.pair.choice.buttons.generate.default',
				// The view id that should be loaded when the button is clicked
				view: 'myOtherView',
				// The svg that is placed above the button
				svg: '../../../assets/RFDriver/svg/default.svg',
			},
		],
	};
</script>

<!-- Below is the template, if you edit this part the template will no longer be updated with changes and bugfixes from RFDriver -->
<!-- If you did overwrite the template and wish to update the template you can remove this template from the template-lock.json file -->
<!-- Warning. If you do remove this template from the template-lock.json all manual changes will be overwritten! -->
<!--START OF TEMPLATE-->
<link href="../../../assets/RFDriver/css/styles.css" rel="stylesheet" type="text/css"/>

<link href="../../../assets/RFDriver/css/svg.css" rel="stylesheet" type="text/css"/>

<script src="../../../assets/RFDriver/js/base.js" type="text/javascript"></script>

<div class="centered-container">
	<div id="choice-button-container"></div>
	<div id="body"><span class="content"></span></div>
</div>

<script>
	var $view = $('[data-id="' + options.id + '"]');
	if (!$view.length) {
		$('#body').html('Could not locate view window for id ' + options.id + '. Please make sure the id is configured properly in your pair template settings.');
	}
	var $body = $view.find('#body');
	$body.find('.content').html(__(options.body));
	var $imageContainer = $view.find('#image-container');
	$imageContainer.css('width', options.svgWidth).css('height', options.svgHeight);
	var $choiceContainer = $view.find('#choice-button-container');

	function showChoices(){
		options.choices.forEach(function (choice) {
			$choiceContainer.append(
				$('<div>').addClass('button-container')
					.html(choice.svg)
					.append(
						$('<button>')
							.addClass('button')
							.html(__(choice.name))
					)
					.on('click', Homey.showView.bind(Homey, choice.view))
			);
		});
	}
	var svgLoadCount = 0;
	options.choices.forEach(function (choice) {
		parseSvg(choice.svg, function (svg) {
			choice.svg = svg;
			if(++svgLoadCount === options.choices.length) {
			    showChoices();
			}
		});
	});
</script>
<!--END OF TEMPLATE-->