<script>
	var options = {
		// The id of the template. This should equal the id in your app.json.
		id: 'imitate',
		// The title of the pair window
		title: 'generator.pair.imitate.title.default',
		// The body text
		body: 'generator.pair.imitate.body.default',
		// The width of the svg
		svgWidth: '80vw',
		// The height of the svg
		svgHeight: '70vh',
		// If the svghighlighter should start highlighting with the last received frame
		initWithDeviceData: false,
		// The svg that should be displayed to the user. This could be an svg string e.g. '<svg><path>...</path></svg>' or an url
		svg: '../../../assets/RFDriver/svg/default.svg',
	};
</script>

<!-- Below is the template, if you edit this part the template will no longer be updated with changes and bugfixes from RFDriver -->
<!-- If you did overwrite the template and wish to update the template you can remove this template from the template-lock.json file -->
<!-- Warning. If you do remove this template from the template-lock.json all manual changes will be overwritten! -->
<!--START OF TEMPLATE-->
<link href="../../../assets/RFDriver/css/styles.css" rel="stylesheet" type="text/css"/>

<link href="../../../assets/RFDriver/css/svg.css" rel="stylesheet" type="text/css"/>

<script src="../../../assets/RFDriver/js/base.js" type="text/javascript"></script>
<script src="../../../assets/RFDriver/js/svghighlighter.js" type="text/javascript"></script>

<div class="centered-container">
	<div id="image-container"></div>
	<div id="body"><span class="content"></span></div>
	<div class="foundAnimation" id="foundBackground" style="display:none;"></div>
	<i class="fa fa-check-circle foundAnimation" id="found" style="display:none;" aria-hidden="true"></i>
</div>

<script>
	var $view = $('[data-id="' + options.id + '"]');
	if (!$view.length) {
		$('#body').html('Could not locate view window for id ' + options.id + '. Please make sure the id is configured properly in your pair template settings.');
	}
	var $body = $view.find('#body');
	$body.find('.content').html(__(options.body));
	var $imageContainer = $view.find('#image-container');
	$imageContainer.css('width', options.svgWidth).css('height', options.svgHeight);

	parseSvg(options.svg, function (svg) {
		$imageContainer.html(svg);
		$imageContainer.highlight();
	});

	var found = false;
	Homey.emit('reset_device', null, function () {
		Homey.on('frame', function (data) {
			console.log('GOT FRAME', data);
			if (!found) {
				found = true;
				Homey.emit('set_device', { data: data }, function (err, deviceState) {
					if (err) {
						if ((err.message || err) !== '433_generator.error.invalid_device') {
							showErrorMessage(err);
						}
						found = false;
						return;
					}
					const dataKey = JSON.stringify(deviceState.data);
					window.selected_devices = [dataKey];
					window.found_devices = {};
					window.found_devices[dataKey] = deviceState;
					var $foundElems = $view.find('.foundAnimation');
					$foundElems.show();
					setTimeout(function () {
						$foundElems.addClass('fadeOut');
						setTimeout(nextView, 400);
					}, 500);
				});
			}
		});
	});
</script>

<style>
	#found {
		z-index: 2;
		position: absolute;
		top: 20vh;
		left: 38vw;
		font-size: 30vh;
		color: #080;
		opacity: 1;
	}

	#foundBackground {
		z-index: 1;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		position: absolute;
		background-color: #FFF;
		opacity: 0.8;
	}

	.fadeOut {
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
		opacity: 0 !important;
	}
</style>
<!--END OF TEMPLATE-->
