<script>
	var options = {
		// The id of the template. This should equal the id in your app.json.
		id: 'info',
		// The title of the pair window
		title: 'generator.pair.info.title.default',
		// The body text
		body: 'generator.pair.info.body.default',
		// The width of the svg
		svgWidth: '80vw',
		// The height of the svg
		svgHeight: '70vh',
		// [Optional] The svg that should be displayed to the user. This could be an svg string e.g. '<svg><path>...</path></svg>' or an url
		// svg: '../../../assets/RFDriver/svg/default.svg',
	};
</script>

<!-- Below is the template, if you edit this part the template will no longer be updated with changes and bugfixes from RFDriver -->
<!-- If you did overwrite the template and wish to update the template you can remove this template from the template-lock.json file -->
<!-- Warning. If you do remove this template from the template-lock.json all manual changes will be overwritten! -->
<!--START OF TEMPLATE-->
<link href="../../../assets/RFDriver/css/styles.css" rel="stylesheet" type="text/css"/>

<link href="../../../assets/RFDriver/css/svg.css" rel="stylesheet" type="text/css"/>

<script src="../../../assets/RFDriver/js/base.js" type="text/javascript"></script>
<script src="../../../assets/RFDriver/js/svghighlighter.js" type="text/javascript"></script>

<div class="centered-container">
	<div id="image-container"></div>
	<div id="body"><span class="content"></span></div>
</div>

<script>
	var $view = $('[data-id="' + options.id + '"]');
	if (!$view.length) {
		$('#body').html('Could not locate view window for id ' + options.id + '. Please make sure the id is configured properly in your pair template settings.');
	}
	var $body = $view.find('#body');
	$body.find('.content').html(__(options.body));
	var $imageContainer = $view.find('#image-container');
	$imageContainer.css('width', options.svgWidth).css('height', options.svg ? options.svgHeight : '0');

	if (options.svg) {
		parseSvg(options.svg, function (svg) {
			$imageContainer.html(svg);
			$imageContainer.highlight();
		});
	} else {
		$imageContainer.detach();
	}
</script>
<!--END OF TEMPLATE-->