<script>
	var options = {
		// The id of the template. This should equal the id in your app.json.
		id: 'copy_repetitions',
		// The title of the pair window
		title: 'pair.copy_repetitions.title.default',
		// The body text
		body: 'pair.copy_repetitions.body.default',
		// The width of the svg
		svgWidth: '80vw',
		// The height of the svg
		svgHeight: '70vh',
		// If the svghighlighter should start highlighting with the last received frame
		initWithDeviceData: false,
	};
</script>

<!-- Below is the template, if you edit this part the template will no longer be updated with changes and bugfixes from RFDriver -->
<!-- If you did overwrite the template and wish to update the template you can remove this template from the template-lock.json file -->
<!-- Warning. If you do remove this template from the template-lock.json all manual changes will be overwritten! -->
<!--START OF TEMPLATE-->
<link href="../../../assets/RFDriver/css/styles.css" rel="stylesheet" type="text/css"/>

<script src="../../../assets/RFDriver/js/base.js" type="text/javascript"></script>

<div class="centered-container">
	<div id="progress-container">
		<div class="on"><span>On</span>
			<div class="progress-bar">
				<div></div>
			</div>
		</div>
		<div class="off"><span>Off</span>
			<div class="progress-bar">
				<div></div>
			</div>
		</div>
	</div>
	<div id="body"><span class="content"></span></div>
	<div class="foundAnimation" id="foundBackground" style="display:none;"></div>
	<i class="fa fa-check-circle foundAnimation" id="found" style="display:none;" aria-hidden="true"></i>
</div>

<script>
	var $view = $('[data-id="' + options.id + '"]');
	if (!$view.length) {
		$('#body').html('Could not locate view window for id ' + options.id + '. Please make sure the id is configured properly in your pair template settings.');
	}
	var $body = $view.find('#body');
	$body.find('.content').html(__(options.body));

	var $foundElems = $view.find('.foundAnimation');
	var $progressContainer = $view.find('#progress-container');
	var $onBar = $progressContainer.find('.on .progress-bar > div');
	var $offBar = $progressContainer.find('.off .progress-bar > div');

	Homey.emit('clear_repetitions', function (err, device) {
		setProgress(device);
	});

	Homey.on('deviceDataUpdate', setProgress);

	function setProgress(device) {
		var onLength = Object.keys(device.data.tx.on).length;
		var offLength = Object.keys(device.data.tx.off).length;
		if (device && device.data && device.data.tx) {
			$onBar.css('width', (onLength * 25) + '%');
			$offBar.css('width', (offLength * 25) + '%');
		}
		if (onLength >= 4 && offLength >= 4) {
			const dataKey = JSON.stringify(device.data);
			window.selected_devices = [dataKey];
			window.found_devices = {};
			window.found_devices[dataKey] = device;
			$foundElems.show();
			setTimeout(function () {
				$foundElems.addClass('fadeOut');
				setTimeout(nextView, 400);
			}, 500);
		}
	}
</script>

<style>
	.on, .off {
		height: 1.1em;
		padding: 1em;
		width: 55vw;
		width: calc(45vw + 5em);
	}

	.on > span, .off > span {
		float: left;
	}

	.progress-bar {
		width: 45vw;
		margin-left: 2em;
		border: 1px solid black;
		height: 1em;
		float: right;
	}

	.progress-bar > div {
		height: 100%;
		background: black;
		width: 0;
	}

	#found {
		z-index: 2;
		position: absolute;
		top: 20vh;
		left: 38vw;
		font-size: 30vh;
		color: #080;
		opacity: 1;
	}

	#foundBackground {
		z-index: 1;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		position: absolute;
		background-color: #FFF;
		opacity: 0.8;
	}

	.fadeOut {
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
		opacity: 0 !important;
	}
</style>
<!--END OF TEMPLATE-->
