.centered-container {
    height: 100%;
    height: calc(100% - 30px);
    padding-bottom: 14px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.centered-container > * {
    margin-top: 1em;
    -webkit-align-self: center;
    align-self: center;
}

.centered-container > *:first-child {
    margin-top: 0;
}

.view-content {
    height: 100%;
}

#body {
    padding: 0 8vw;
    text-align: center;
}

#body ul li {
    padding-bottom: 3vh;
    font-size: 3vh;
    font-size: calc(1em + 1.5vh);
    list-style: none;
    text-align: center;
}

#body .content {
    display: inline-block;
    margin-bottom: 1em;
}

.notice {
    font-size: 10px;
    color: #AAAAAA;
    clear: both;
    padding-top: 5px;
}

#image-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: center;
    align-self: center;
    height: 65vh;
    width: 80vw;
}

#image-container svg {
    width: 100%;
    height: 100%;
}

#choice-button-container {
    height: 70vh;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: stretch;
    align-self: stretch;
}

#choice-button-container > .button-container {
    border-right: 1px solid #eee;
    width: 50%;
    height: 100%;
    padding: 0 5%;
    -webkit-flex: 0 1 50%;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

#choice-button-container > .button-container:last-child {
    border-right: 0;
}

#choice-button-container > .button-container > svg {
    padding-top: 1em;
    -webkit-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    width: 100%;
    height: 100%;
}

#choice-button-container > .button-container > button {
    height: 36px;
    margin: 1em 0;
}

#model-select-button-container {
    padding-bottom: 2em;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#model-select-button-container > .button-container {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}